body{
    font-family: 'Open Sans', sans-serif;
    
    font-family: 'Lato', sans-serif;
}
.nav-shop{
    color: slategrey;
}
nav>ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #474747;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    background-color: #fac7c7;
    padding-right: 20px;
    margin-right: 20px;
}
.shop{
    color: darksalmon;
}
.header-title{
    /* font-family: 'Open Sans', sans-serif; */
    font-size: 60px;
    margin-left: 10px;
    margin-right: 50px;
}
/* header relatate style */
.header{
    color: rgb(15, 17, 14);
}
.banner{
    display: flex;
    margin-right: 20px;
    padding-right: 30px;
    padding-left: 20px;
    background-color: burlywood;
}
.headerbanner{
    /* margin-right: 50px; */
    /* padding-right: 80px; */
    padding-left: 80px;
}
.button{
    background-color: crimson;
    border-radius: 5px;
}
.body-part2{
    text-align: center;
    padding-top: 50px;
    margin-top: 30px;
}
.body-part2-para{
    margin-left: 20px;
    font-size: small;
    padding-left: 100px;
    padding-right: 150px;
    
    
}
.image-part{
    display: flex;
    padding: 10px;
    flex-direction: row-reverse;
    
}
.body-part-3{
    background-color: bisque; 
    margin: 0 auto;
    max-width: 1200px;
}

.first-image{
    padding: 10px;
    margin: 10px;
    margin-bottom: 20px;
}
.second-image{
    padding: 10px;
    margin: 10px;
    margin-top: 30px;
    padding-top: 40px;
}
.third-image{
    padding: 10px;
    margin: 10px;
}
.content{
    display: flex;
    text-align: center;
    padding-left: 80px;
    margin-top: 10px;
    text-underline-position: below;
}
.body-part-4{
    display: flex;
    background-color: antiquewhite;
    /* margin: 10px; */
    padding-left: 50px;
    padding-top: 50px;
}
.body-part-4-para{
    text-align: center;
    margin: auto 10 ;
    padding-top: 150px;
}
.off-style{
    color: brown;
}
.bodyContainer{

    margin: 10px;
}
.body-part-5{
    display: flex;
    max-width: 800px;
    
}
.body-part-5-style{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 20px;
    padding-left: 80px;
    margin-left: 100px;
}
.part-5{
    max-width: 800px;
    margin-right: 100px;
    padding-right: 100px;
}
.body-part-6{
    margin-top: 30px;
    text-align: center;
    background-image: url('../Flower Asset/Rectangle\ 9.png');
    min-height: 400px;
    min-width: 800px;
        
}
.h2styles{
padding-top: 200px;
}
.footer{
    background-color: black;
    text-align: center;
    padding-top: 20px;
}
.footer-span{
    color: coral;
}
.input{
    width: 380px;
}